@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

body {
  background-image: url("./img/background.jpg");
}

h1 {
  font-family: "Manrope", bold;
  color: azure;
  text-align: center;
}

.contador {
  font-family: "Manrope", bold;
  font-size: 30px;
  color: azure;
  text-align: center;
}

.input {
  max-width: 200px;
  min-height: 10px;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  outline: none;
  background: #e8e8e8;
  box-shadow: 3px 3px 10px #c8c8c8, -5px -5px 17px #ffffff;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:focus {
  background: #e8e8e8;
  box-shadow: inset 5px 5px 17px #c8c8c8, inset -5px -5px 17px #ffffff;
}

p {
  font-family: "Manrope", regular;
  color: aliceblue;
}

input {
  width: 30%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.boton1 {
  color: black;
  font-size: 18px;
  background-color: greenyellow;
  width: 10%;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boton2 {
  color: black;
  font-size: 18px;
  background-color: crimson;
  width: 10%;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
